<div class="container">
<h1>Welcome to your Cart Mate</h1>
<div class="mt-5">
<table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartitems;let i=index">
        <th scope="row">{{i+1}}</th>
        <td><strong>{{item.name}}</strong></td>
        <td><img style="height:60px;width:60px" [src]="item.image"></td>
        <td><strong>{{item.price | currency:"INR"}}</strong></td>
        <td><button (click)="increase_quantity(i)" class="btn btn-outline-success" type="button">+</button><strong>{{item.quantity}}</strong><button [disabled]="cartitems.quantity==1" (click)="del(i)" class="btn btn-outline-danger" type="button">-</button></td>
        <!-- <td let i=index><button (click)="increase_quantity(i)" class="btn btn-danger">Increase(+)</button></td>
        <td let i=index><button (click)="del(i)" class="btn btn-danger">Remove(-)</button></td> -->
        <td let i=index><button (click)="removeFromCart(i)" class="btn btn-danger">Remove</button></td>
      </tr>
     
    </tbody>
  </table>
<div>
  <h2>Total Price:{{totalprice | currency:"INR"}}</h2>
  <button (click)="checkout()" class="btn btn-warning" routerLink="/checkout" style="float:right">CheckOut</button>
</div>
</div></div>