
<!---
<input name="search" [(ngModel)]="searchtext" class="form-control me-2" type="text" placeholder="Name">
<input name="search" [(ngModel)]="searchtext" class="form-control me-2" type="email" placeholder="Email">
<input name="search" [(ngModel)]="searchtext" class="form-control me-2" type="password" placeholder="Password">

<button (click)="search()" class="btn btn-primary" type="button">SignUp</button>

-->

<div class="container">
    <div style="width:30% ;margin:auto;background-color:blanchedalmond">
   <div style="width:70%; margin:auto">
    <form [formGroup]="signupForm">
        <h1>SignUp here</h1>

        <div *ngIf="responseError" class="form-group mt-3">
          <label class="alert alert-danger">{{responseError}}</label>
          <input name="email" [(ngModel)]="userdetails.email" type="text" class="form-control">
      </div>

        <div class="form-group mt-3">
            <label for="">Email</label>
            <input formControlName ="shukla" type="text" class="form-control">
        </div>
        <div class="form-group mt-3">
            <label for="">Name</label>
            <input formControlName ="shubham" type="text" class="form-control">
        </div>
        <div class="form-group mt-3">
            <label for="">Password</label>
            <input formControlName ="thor" type="password" class="form-control">
        </div>

        <div class="form-group mt-3">
            <button (click)="signup()"class="btn btn-primary">SignUp</button>
        </div>

      </form>
    </div>
    </div>





<table *ngIf="users.length!=0?true:false" class="table">
    <thead>
      <tr>
        
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        
     <tr *ngFor="let user of users;let i =index">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
        <td><button (click)="deleteUser(i)" class="btn btn-danger">Delete</button></td>
     </tr>
      
    
    </tbody>
  </table>
  
</div>